<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To know Co-ordinate App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Co-ordinate App</h1>
    <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city" required>
        <button type="submit">Get Co-ordinates</button>
    </form>

    <% if (locals.latitude && locals.longitude) { %>
        <h2>Coordinates for <%= city %></h2>
        <p>Latitude: <%= latitude %></p>
        <br/>
        <p>Longitude: <%= longitude %></p>
    <% } else { %>
        <p><%= error %></p>
    <% }; %>
</body>
</html>
